# SPDX-License-Identifier: MIT
# Copyright 2021 Johannes Eigner <jo-hannes@dev-urandom.de>

[Unit]
Description=CraftBeerPi prometheus exporter
After=craftbeerpiboot.service
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/python3 /usr/bin/craftbeerpi_exporter

[Install]
WantedBy=multi-user.target
